<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DABBAWALLA</title>
  </head>
  <body>
    <h1 class="heading">DABBAWALLA</h1>
    <button class="primaryButton">
      <a href="/signupform">Signup</a>
    </button>
    <button class="">
      <a href="/loginform">Login</a>
    </button>
  </body>
</html>
