<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>DABBAWALLA</title>
  </head>
  <body>
    <div class="topContainer">
      <a href="/"><h1 class="heading">DABBAWALLA</h1></a>
      <div class="">
        <button class="primaryButton">
          <a href="/signupform">Signup</a>
        </button>
        <button class="primaryButton">
          <a href="/loginform">Login</a>
        </button>
      </div>
    </div>
    <div class="middleSection">
      <input
        type="search"
        placeholder="search your favourite dish"
        class="input"
      />
      <button class="primaryButton">Search</button>
    </div>

    <div class="homepage">
      <div class="savor">
        <h1 class="heading">How to Savor with Daabba Walla: 3 Simple Steps</h1>
        <div class="cardContainer">
          <div class="card">
            <h2 class="title">Discover Local Menus</h2>
            <p class="description">
              Dive into an array of menus from local restaurants, each telling a
              unique culinary story.
            </p>
          </div>
          <div class="card">
            <h2 class="title">Personalize Your Palate</h2>
            <p class="description">
              Customize your orders based on your cravings. Daabba Walla adapts
              to your taste preferences, ensuring every bite is a delight.
            </p>
          </div>
          <div class="card">
            <h2 class="title">Set Your Delivery Rhythm</h2>
            <p class="description">
              Whether it's a mid-week treat or a weekend feast, Daabba Walla
              lets you set the schedule. Your favorite meals arrive on time,
              every time.
            </p>
          </div>
          <div class="card">
            <h2 class="title">Discover Local Menus</h2>
            <p class="description">
              Dive into an array of menus from local restaurants, each telling a
              unique culinary story.
            </p>
          </div>
        </div>
      </div>
      <div class="indulge">
        <h1 class="heading">Indulge in Culinary Delights with Dabba Walla!</h1>
        <p class="paragraph1">
          Welcome to Dabba Walla, your go-to destination for mouthwatering
          culinary experiences. At Dabba Walla, we blend passion with flavors to
          serve you a gastronomic journey like no other.
        </p>
      </div>
      <div>
        <h1 class="heading">Why Dabba Walla?</h1>
        <div class="cardContainer">
          <div class="card">
            <h2 class="title">Delectable Delicacies</h2>
            <p class="description">
              Savor the finest flavors curated from the freshest ingredients.
              Our menu is a celebration of taste that caters to every palate.
            </p>
          </div>
          <div class="card">
            <h2 class="title">Home-Style Goodness</h2>
            <p class="description">
              Experience the warmth of homemade goodness with every bite. Our
              chefs infuse love and tradition into every dish they prepare.
            </p>
          </div>
          <div class="card">
            <h2 class="title">Convenience Redefined</h2>
            <p class="description">
              Enjoy the convenience of a quick and satisfying meal. Dabba Walla
              brings you a diverse menu of culinary delights, right at your
              doorstep.
            </p>
          </div>
          <div class="card">
            <h2 class="title">Quality Assurance</h2>
            <p class="description">
              We believe in serving excellence. Our commitment to quality
              ensures that every dish surpasses your expectations.
            </p>
          </div>
        </div>
      </div>
      <div>
        <h1 class="heading">Explore Our Culinary Wonders</h1>
        <p class="paragraph1">
          Try our <span class="bold">Spicy Chicken Curry </span>or indulge in a
          classic <span class="bold"> Margherita Pizza</span>.
        </p>
      </div>

      <div>
        <h1 class="heading">Our Philosophy</h1>
        <p class="paragraph1">
          At Dabba Walla, we believe in creating culinary experiences that go
          beyond the ordinary. Our chefs meticulously select the finest
          ingredients to bring you a fusion of flavors that tantalize your taste
          buds. From traditional recipes passed down through generations to
          innovative dishes that push the boundaries, we strive to offer a
          diverse and memorable menu. Every meal we serve is a reflection of our
          commitment to quality, authenticity, and the joy of sharing good food
          with our community.
        </p>
      </div>
      <div>
        <h1 class="heading">What Our Community is Saying</h1>
        <div class="cardContainer">
          <div class="card">
            <p class="description">
              "
              <i>
                Daabba Walla is my go-to for stress-free dinners. I get to try
                different dishes without lifting a finger!
              </i>
              " <span>- Rachel, Daabba Explorer</span>
            </p>
          </div>
          <div class="card">
            <p class="description">
              "
              <i>
                Daabba Walla is my go-to for stress-free dinners. I get to try
                different dishes without lifting a finger!
              </i>
              " <span>- Rachel, Daabba Explorer</span>
            </p>
          </div>
          <div class="card">
            <p class="description">
              "
              <i>
                Daabba Walla is my go-to for stress-free dinners. I get to try
                different dishes without lifting a finger!
              </i>
              " <span>- Rachel, Daabba Explorer</span>
            </p>
          </div>
          <div class="card">
            <p class="description">
              "
              <i>
                Daabba Walla is my go-to for stress-free dinners. I get to try
                different dishes without lifting a finger!
              </i>
              " <span>- Rachel, Daabba Explorer</span>
            </p>
          </div>
        </div>
      </div>

      <h1 class="heading">Connect and Share Your Culinary Adventures!</h1>
    </div>
  </body>
</html>
