<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>DabbaWalla - SIGNUP</title>
  </head>
  <body>
    <a href="/"><h1 class="heading">DABBAWALLA</h1></a>
    <form method="post" action="/loginRestaurant">
      <div class="signupOptions">
        <a href="/loginform">Customer</a> |
        <a href="/loginRestaurant" style="color: #ff7f00">Restaurant</a>
      </div>
      <h1>Restaurant Login</h1>
      <label for="email">Email:</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Please enter your email"
      />
      <label for="password">Password: </label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Please enter your Password"
      />
      <button type="submit">Login</button>
      <div class="last">
        Don't have an account?
        <span><a href="/signupform">Signup as a customer</a></span>
      </div>
    </form>
  </body>
</html>
