<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscription Lunchbox Menu</title>
    <link rel="stylesheet" href="/menu.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <!-- Header -->
    <header class="site-header">
      <div class="topContainer">
        <a href="/"><h1 class="heading">DABBAWALLA</h1></a>
        <ul>
          <li>HOME</li>
          <li>ABOUT</li>
          <li>SERVICES</li>
          <li>CONTACT</li>
        </ul>
        <% if (Object.keys(data).length < 1) { %>
        <div class="">
          <button class="primaryButton">
            <a href="/signupform">Signup</a>
          </button>
          <button class="primaryButton">
            <a href="/loginform">Login</a>
          </button>
        </div>
        <%} else { %>
        <div class="cartSection">
          <div class="cart" onclick="showCart()">
            <img src="/cart.png" alt="" />
            <div class="number"></div>
          </div>
          <button class="primaryButton" id="logout">
            <a href="/logout">Logout</a>
          </button>
        </div>
        <% } %>
      </div>
    </header>
    <% if (Object.keys(data).length < 1) { %>
    <div>
      <p class="loginToSee">Please login to see Subscription LunchBox Menu</p>
    </div>
    <%} else { %>
    <div class="Menucontainer">
      <!-- Your menu items here -->
    </div>
    <% } %>

    <div class="toggleCart">
      <div class="topSection">
        <h1>Cart</h1>
        <img src="/1.webp" alt="" class="cross" onclick="hideCart()" />
      </div>

      <div class="leftSection"></div>
      <div class="RigthSection">
        <h1>Payment Information</h1>
        <form action="">
          <label for="card">
            <input type="text" placeholder="Card Number" />
          </label>
          <label for="expiry">
            <input type="text" placeholder="Expiry Date (MM/YY)" />
          </label>
          <label for="cvv">
            <input type="text" placeholder="CVV" />
          </label>
          <label for="name">
            <input type="text" placeholder="Name on Card" />
          </label>
          <button class="payButton" onclick="successPurchase()">Pay Now</button>
        </form>
      </div>
    </div>

    <script src="/js/menu.js" defer></script>
  </body>
</html>
