<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>DabbaWalla - SIGNUP</title>
  </head>
  <body>
    <a href="/"><h1 class="heading">DABBAWALLA</h1></a>
    <form method="post" action="/RegisterSignupform">
      <div class="signupOptions">
        <a href="/signupform">Customer</a> |
        <a href="/RegisterSignupform" style="color: #ff7f00">Restaurant</a>
      </div>
      <h1>Restaurant Sign Up</h1>
      <label htmlFor="name">Restaurant Name:</label>
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Please enter your restaurant name"
      />
      <label htmlFor="email">Email Address:</label>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="Please enter your Email Address"
      />
      <label htmlFor="location">location:</label>
      <input
        id="location"
        name="location"
        type="text"
        placeholder="Please enter your location"
      />
      <label htmlFor="number">Phone Number:</label>
      <input
        id="number"
        name="number"
        type="text"
        placeholder="Please enter your Phone Number"
      />
      <label htmlFor="hours">Opening Hours:</label>
      <input
        id="hours"
        name="hours"
        type="text"
        placeholder="Please enter your Opening hours"
      />
      <label htmlFor="cuisine"> Cuisine Offered:</label>
      <input
        id="cuisine"
        name="cuisine"
        type="text"
        placeholder="Please enter your Offered cuisine"
      />
      <label htmlFor="delivery">Delivery Areas:</label>
      <input
        id="delivery"
        name="delivery"
        type="text"
        placeholder="Please enter your Delivery Address"
      />
      <label htmlFor="minOrder">Minimum order requirements:</label>
      <input
        id="minOrder"
        name="minOrder"
        type="text"
        placeholder="Please enter your minimum order requirements"
      />
      <label htmlFor="password">Password:</label>
      <input
        id="password"
        name="password"
        type="password"
        placeholder="Please enter your password"
      />
      <button type="submit">Sign Up</button>
      <p class="last">
        Already have an account?<button><a href="/loginform">Log in</a></button>
      </p>
    </form>
  </body>
</html>
