.homepage {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.homepage .heading {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
}

.homepage .cardContainer {
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.homepage .card {
  padding: 60px 40px;
  width: 300px;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.homepage .title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.homepage .description {
  font-size: 16px;
  text-align: center;
}

.homepage .joinButton {
  width: max-content;
  margin: auto;
  padding: 20px 40px;
}

.paragraph1 {
  width: 60%;
  margin: 0px auto;
  text-align: center;
  font-size: 16px;
}

.paragraph1 .bold {
  font-weight: 700;
}

.description span {
  display: block;
  margin-top: 24px;
  text-align: right;
  font-weight: 600;
}
