* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

form {
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
  max-width: 30%;
  font-weight: bold;
  color: grey;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
}
form label {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}
form h1 {
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
}
form button {
  background: #ff0000;
  color: white;
  width: 100%;
  text-align: center;
  border: none;
  margin: 25px 0px;
  padding: 7px 0;
  font-size: 20px;
}
form input {
  width: 98%;
  font-size: 20px;
  padding: 5px 10px;
}

form .last {
  text-align: center;
  margin-left: 3px;
  color: black;
  margin-top: 33px;
  margin-bottom: 33px;
  font-size: 20px;
}

span {
  text-align: center;
  color: #ff0000;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 70px;
}

.container .item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  gap: 100px;
}

.container span {
  color: #ff0000;
  font-size: 28px;
  font-weight: 700;
}

.signupButton {
  background-color: #ff0000;
  color: white;
  padding: 20px 30px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}

.topContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 30px 60px;
}
