.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.navbar h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.authButton {
  display: flex;
  gap: 20px;
}
/* 
.authButton .Button {
  padding: 10px 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #b4b0b0;
  color: black;
  font-size: 16px;
}

.authButton .Button:hover {
  background-color: #ff0000;
  color: white;
} */
