.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.navbar h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.authButton {
  display: flex;
  gap: 20px;
}

.authButton button {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar .user {
  width: 30px;
  height: 30px;
}

.navbar .profileName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar .profileName span {
  font-size: 16px;
  font-weight: 500;
}
