.CustomerRegisterPage form {
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 65px;
  max-width: 30%;
  font-weight: bold;
  color: grey;
  background-color: white;
  padding: 35px;
  border-radius: 10px;
}
.CustomerRegisterPage form label {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
}
.CustomerRegisterPage form h1 {
  color: black;
  text-align: center;
}
.CustomerRegisterPage form button {
  background: #ff0000;
  color: white;
  width: 100%;
  text-align: center;
  border: none;
  margin: 25px 0px;
  padding: 7px 0;
}
.CustomerRegisterPage form input {
  width: 98%;
}
