.loginpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginpage form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px 50px;
  border-radius: 10px;
}

.loginpage form h1 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.inputElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputElement input {
  margin: 0px auto;
  width: 450px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid #888;
  outline: none;
  font-size: 18px;
}

.loginpage form label {
  font-size: 18px;
  font-weight: 500;
}

.last {
  font-size: 18px;
  text-align: center;
  color: black;
  margin-top: 20px;
}
.span1 {
  color: #ff4500;
  cursor: pointer;
}
.span2 {
  display: block;
  color: #ff4500;
  cursor: pointer;
}

.loginButton {
  padding: 10px 50px;
  background-color: #ff4500;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
