.featured {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.featured .heading {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
}

.featured img {
  border-radius: 10px;
  width: 400px;
  height: 400px;
}
