.featured {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.featured .heading {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 14px;
}

.featured .tagContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 10px;
}

.featured .tagContainer .tags {
  font-size: 14px;
  border: none;
  text-align: center;
  padding: 10px 18px;
  border-radius: 5px;
  background-color: #d1d1d1;
  color: black;
}

.featured .tagContainer .tags:hover {
  background: #ff0000;
  color: white;
  cursor: pointer;
}
